ion-input {
    --background: #ffffff;
    --color: #2a2a2a;
    --placeholder-color: #4386fa;
}
ion-card-title {
    text-align: center;
}
ion-icon {
    font-size: 36px;
}
ion-button {
    width: 92%;
    margin-left: 16px;
}
ion-content {
    --background: #f4f6f7;
}
ion-card {
    margin-top: 8rem;
    box-shadow: 5px 5px 5px;
    border: 1px solid #2a2a2a;
}