<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Formulario Nuevo Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="grupoformulario" (ngSubmit)="crearUsuario()">
    <div>
      <div class="datos">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-icon name="person"></ion-icon>
              Datos del Usuario
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-input type="text" label="Cédula:" pattern="^[0-9]+" label-placement="floating" fill="outlet"
              placeholder="Ingresar Número de Cedula" formControlName="cedulaU" mode="md"></ion-input>
            <br>
            <ion-input type="text" label="Nombre:" label-placement="floating" fill="outlet"
              placeholder="Ingresar el Nombre" formControlName="nombreU" mode="md"></ion-input>
            <br>
            <ion-input type="text" label="Apellido:" label-placement="floating" fill="outlet"
              placeholder="Ingresar el Apellido" formControlName="apellidoU" mode="md"></ion-input>
            <br>
            <ion-input type="text" label="Alias:" label-placement="floating" fill="outlet" placeholder="Ingresar el Alias"
              formControlName="aliasU" mode="md"></ion-input>
            <br>
            <ion-input type="password" label="Contraseña:" label-placement="floating" fill="outlet" value="password"
              formControlName="claveU" mode="md"></ion-input>
          </ion-card-content>
        </ion-card>
      </div>
      <ion-label expand="full" color="danger" *ngIf="crearUsuarioFailed">{{ msgErrorUsuario }}</ion-label>
      <ion-button expand="full" type="submit" [disabled]="!grupoformulario.valid">Crear Usuario</ion-button>
    </div>
  </form>
</ion-content>