<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ver paciente</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <div class="datos">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Datos del Paciente</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            <h2>Nombre:</h2>
          </ion-label>
          <ion-input type="text" label="Nombre del Paciente" label-placement="floating" fill="outline" 
            placeholder="Nombre"></ion-input>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div>
    <div class="datos">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Datos del Medicamento</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            <h2>Nombre de la Enfermedad:</h2>
          </ion-label>
          <ion-input type="text" label="Nombre de la Enfermedad" label-placement="floating" fill="outline"
            placeholder="Enfermedad" ></ion-input>
          <ion-label>
            <h2>Nombre del Medicamento:</h2>
          </ion-label>
          <ion-input type="text" label="Nombre del Medicamento" label-placement="floating" fill="outline"
            placeholder="Medicamento"></ion-input>
            <ion-label>
              <h2>Nombre del Medicamento:</h2>
            </ion-label>
            <ion-input type="text" label="Numero Caja" label-placement="floating" fill="outline"
              placeholder="Caja"></ion-input>
          <ion-label>
            <h2>Por cuántos Días:</h2>
          </ion-label>
          <ion-input type="number" label="Por cuántos Días" label-placement="floating" fill="solid"
            placeholder="Días"min="0"></ion-input>
          <ion-label>
            <h2>Cada cuánto tiempo:</h2>
          </ion-label>
          <ion-input type="number" label="Cada cuánto tiempo" label-placement="floating" fill="solid"
            placeholder="Cada cuanto"min="0"></ion-input>
          <ion-label>
             <h2>Fecha y Hora de Inicio:</h2>
          </ion-label>
          <ion-input type="text" label="Fecha y Hora de Inicio" label-placement="floating" fill="outline"
            placeholder="Fecha y Hora"></ion-input>
          <ion-label>
            <h2>Horario:</h2>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>