<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Horario - Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <div class="datos">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Datos del Paciente</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            <h2>Paciente:</h2>
          </ion-label>
          <ion-input type="text" label-placement="floating" fill="outline" value={{infoPaciente}}></ion-input>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="datos">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Datos del Medicamento</ion-card-title>
        </ion-card-header>

        <ion-card-content *ngFor="let dato of datos">
          <ion-label>
            <h2>Nombre de la Enfermedad:</h2>
          </ion-label>
          <ion-label>{{ dato.comentario }}</ion-label>
          <ion-label>
            <h2>Nombre del Medicamento:</h2>
          </ion-label>
          <ion-label>{{ dato.medicamento }}</ion-label>
          <ion-label>
            <h2>Numero Caja:</h2>
          </ion-label>
          <ion-label>{{ dato.numerocaja }}</ion-label>
          <ion-label>
            <h2>Por cuántos Días:</h2>
          </ion-label>
          <ion-label>{{ dato.numerodias }}</ion-label>
          <ion-label>
            <h2>Cada cuánto tiempo:</h2>
          </ion-label>
          <ion-label>{{ dato.frecuencia }}</ion-label>
          <ion-label>
             <h2>Fecha y Hora de Inicio:</h2>
          </ion-label>
          <ion-label>{{ dato.fechainicio }} / {{ dato.horainicio }}</ion-label>
          <ion-label>
            <h2>Horario:</h2>
          </ion-label>
          <table border="1">
            <thead>
              <tr>
                <th>Día</th>
                <th>Fecha</th>
                <th>Hora</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let horario of horarios">
                <ng-container *ngIf="horario.idpacientemedicamento == dato.idpacientemedicamento">
                  <td>{{ horario.contadordias }}</td>
                  <td>{{ horario.fechaingesta }}</td>
                  <td>{{ horario.horaingesto }}</td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>