td, th{
    border: 1px solid black;
}
table{
    width: 100%;
}
td{
    text-align: center;
}

ion-button {
    --background: #3880ff;
    width: 92%;
    margin-left: 16px;
    height: 2.5rem;
    --color: #ffffff;
}