<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario Agregar Paciente - Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="grupoformulario" (ngSubmit)="registrarDatosPacientes()">
    <div>
      <div class="datos">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Paciente</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <h2>Número de Cédula:</h2>
            </ion-label>
            <ion-input type="text" fill="outline" formControlName="cedula"></ion-input>
            <ion-label>
              <h2>Nombre de la Enfermedad:</h2>
            </ion-label>
            <ion-input type="text" fill="outline" formControlName="enfermedad"></ion-input>
            <ion-label>
              <h2>Nombre del Medicamento:</h2>
            </ion-label>
            <ion-input type="text" fill="outline" formControlName="medicina"></ion-input>
            <ion-label>
              <h2>Numero de Caja:</h2>
            </ion-label>
            <ion-item>
              <ion-select formControlName="caja">
                <ion-select-option value="1">Caja 1</ion-select-option>
                <ion-select-option value="2">Caja 2</ion-select-option>
                <ion-select-option value="3">Caja 3</ion-select-option>
                <ion-select-option value="4">Caja 4</ion-select-option>
                <ion-select-option value="5">Caja 5</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div>
      <div class="horario">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Horario</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <h2>Por cuántos Días:</h2>
            </ion-label>
            <ion-input type="number" fill="solid" formControlName="dias" min="0"></ion-input>
            <ion-label>
              <h2>Cada cuánto tiempo:</h2>
            </ion-label>
            <ion-input type="number" fill="solid" formControlName="tiempo" min="0"></ion-input>
            <ion-label>
              <h2>Fecha y Hora de Inicio:</h2>
            </ion-label>
            <ion-datetime id="datetime" formControlName="fechaInicio"></ion-datetime>
          </ion-card-content>
          <ion-label expand="full" color="danger" *ngIf="crearHorarioFailed">{{ msgErrorUsuario }}</ion-label>
          <ion-button expand="full" type="submit" [disabled]="!grupoformulario.valid">Registrar Horario</ion-button>
        </ion-card>
      </div>
    </div>
  </form>
</ion-content>