#nom{
    font-size: 12px;
}
ion-button {
    --background: #3880ff;
    --color: #ffffff;
    margin-right: 5%;
    margin-left: 5%;
    width: 8rem;
    height: 2.5rem;

    #ver{
        font-size: 2rem;
    }

    #eliminar{
        font-size: 2rem;
    }
}

