ion-button {
    width: 92%;
    margin-left: 16px;
}
ion-card {
    margin-top: 8rem;
    box-shadow: 5px 5px 5px;
    border: 1px solid #2a2a2a;
}
ion-content {
    --background: #f4f6f7;
}
ion-input {
    --background: #ffffff;
    --color: #2a2a2a;
    --placeholder-color: #070707;
}
ion-card-title {
    text-align: center;
}